@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-hextech-darker text-gray-200 antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar for Hextech Theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #010A13; 
}
::-webkit-scrollbar-thumb {
  background: #C8AA6E; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F0E6D2; 
}
